---
title: Suzan AI Shield API Reference

language_tabs: # must be one of https://github.com/rouge-ruby/rouge/wiki/List-of-supported-languages-and-lexers
  - python
  - shell


toc_footers:
  - <a href='https://suzan.ai/get_dev_key/'>Sign Up for a Developer Key</a>

includes:
  - introduction
  - gettingstarted.md.erb
  - shield.md.erb
  - firewall.md.erb 

search: true

code_clipboard: true

meta:
  - name: description
    content: Documentation for the Suzan AI APIs
---



